:root {
  font-size: 1rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: grey;
}

#content {
  max-width: 700px;
  margin: auto;
  background: white;
  height: 100%;
  padding: 4rem 3rem;
}
@media (max-width: 699px) {
  #content {
    padding: 3rem 1rem;
  }
}

h1, h2 { text-align: center; }
th, td, p, li { text-align: left; }
#date { text-align: right; }

h1 { font-size: 1.4rem; line-height: 1.4rem; }
h2 { font-size: 1.05rem; line-height: 1.1rem; }
th, td, p, li { font-size: 1.1rem; line-height: 1.2rem; }
#date { font-size: 1.05rem; line-height: 1.1rem; }
sup { vertical-align: top; position: relative; top: -0.2rem; }

h1 { font-weight: 700; }
h2 { font-weight: 100; }
th, p, li { font-weight: 500; }
td, #date { font-weight: 400; }

h1 { margin: 1rem; }
h2 { margin-bottom: 2rem; }
th, td { padding-bottom: 1rem; }
table { margin-bottom: 1rem; }
p, li { margin-bottom: 1rem; }
#date { margin-top: 3rem; }

th {
  vertical-align: top;
  padding-right: 1rem;
}
td { white-space: pre-wrap; }
li { list-style: none; }

label {
  margin-left: 0rem;
  display: block;
}
label input {
  margin-right: 1rem;
  margin-left: -2.2rem;
}

em {
  text-decoration: underline dotted;
}
